:root{

--primary:#2563EB;
--primary-dark:#1D4ED8;

--success:#10B981;
--warning:#F59E0B;
--danger:#EF4444;

--background:#F5F7FB;
--card:#FFFFFF;

--text:#111827;
--text-light:#6B7280;

--border:#E5E7EB;

--shadow:0 8px 22px rgba(0,0,0,.08);

}